<div class="d-flex flex-row-reverse mb-4">
  <button
    type="button"
    class="btn btn-primary btn-fab float-end"
    (click)="exitForm()"
  >
    <i class="bi bi-dash-lg"></i>
  </button>
</div>

<div class="progress mb-4">
  <div class="progress-bar" [style.width.%]="progressPercentage"></div>
</div>

<form *ngIf="formInitialized" [formGroup]="employeeForm" (ngSubmit)="onSubmit()" novalidate>
  <ng-container *ngFor="let step of formSteps; let i = index">
    <div *ngIf="currentStep === i">
      <h3>{{ step.title }}</h3>
      <div class="row">
        <ng-container *ngFor="let field of step.fields">
          <div class="col-md-{{ field.col }} mb-3">
            <label [for]="field.name" class="form-label">{{
              field.label
            }}</label>

            <ng-container [ngSwitch]="field.type">
              <select
                *ngSwitchCase="'select'"
                [id]="field.name"
                [formControlName]="field.name"
                class="form-select form-select-sm"
                [class.disabled]="field.disabled"
                [class.is-invalid]="
                  !employeeForm.get(field.name)?.valid &&
                  (employeeForm.get(field.name)?.dirty ||
                    employeeForm.get(field.name)?.touched)
                "
              >
                <option *ngFor="let option of field.options" [value]="option">
                  {{ option }}
                </option>
              </select>

              <textarea
                *ngSwitchCase="'textarea'"
                [id]="field.name"
                [formControlName]="field.name"
                class="form-control form-control-sm"
                [class.disabled]="field.disabled"
                [class.is-invalid]="
                  !employeeForm.get(field.name)?.valid &&
                  (employeeForm.get(field.name)?.dirty ||
                    employeeForm.get(field.name)?.touched)
                "
              ></textarea>

              <ng-container *ngSwitchCase="'radio'">
                <div *ngFor="let option of field.options" class="form-check">
                  <input
                    type="radio"
                    [id]="option"
                    [value]="option"
                    [formControlName]="field.name"
                    class="form-check-input"
                    [class.disabled]="field.disabled"
                    [class.is-invalid]="
                      !employeeForm.get(field.name)?.valid &&
                      (employeeForm.get(field.name)?.dirty ||
                        employeeForm.get(field.name)?.touched)
                    "
                  />
                  <label [for]="option" class="form-check-label">{{
                    option
                  }}</label>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'checkbox'">
                <div class="form-check">
                  <input
                    type="checkbox"
                    [id]="field.name"
                    [formControlName]="field.name"
                    class="form-check-input"
                    [class.disabled]="field.disabled"
                    [class.is-invalid]="
                      !employeeForm.get(field.name)?.valid &&
                      (employeeForm.get(field.name)?.dirty ||
                        employeeForm.get(field.name)?.touched)
                    "
                  />
                </div>
              </ng-container>

              <input
                *ngSwitchDefault
                [type]="field.type"
                [id]="field.name"
                [formControlName]="field.name"
                class="form-control form-control-sm"
                [class.disabled]="field.disabled"
                [class.is-invalid]="
                  !employeeForm.get(field.name)?.valid &&
                  (employeeForm.get(field.name)?.dirty ||
                    employeeForm.get(field.name)?.touched)
                "
              />
            </ng-container>

            <div
              *ngIf="
                !employeeForm.get(field.name)?.valid &&
                (employeeForm.get(field.name)?.dirty ||
                  employeeForm.get(field.name)?.touched)
              "
              class="text-danger"
            >
              {{ field.label }} is required.
            </div>
          </div>
          <div class="w-100" *ngIf="field.nextRow"></div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <div class="mt-4">
    <button
      type="button"
      class="btn btn-secondary me-2"
      (click)="previousStep()"
      [disabled]="currentStep === 0"
    >
      <i class="fa fa-circle-left"></i> Previous
    </button>
    <button
      *ngIf="currentStep < formSteps.length - 1"
      type="button"
      class="btn btn-primary"
      (click)="nextStep()"
    >
      Next <i class="fa fa-circle-right"></i>
    </button>
    <button
      *ngIf="currentStep === formSteps.length - 1"
      type="submit"
      class="btn btn-primary"
    >
      Submit <i class="fa fa-shield"></i>
    </button>
  </div>
</form>
