<div class="side-bar-container">
  <!-- <div class="side-bar-link-container">
    <a href="#">Home</a>
    <a routerLink="employees">Employee</a>
    <a href="#">Profile</a>
  </div> -->

  <div class="side-bar">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <i class="fa-brands fa-bootstrap header"></i>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li *ngFor="let navigation of navigations" class="nav-item">
        <a
          routerLink="{{ navigation.link }}"
          routerLinkActive="active"
          class="nav-link text-white"
          aria-current="page"
        >
          <i
            class="{{ navigation.icon }}"
            [ngClass]="{
              'fa-bounce': '/dashboard/' + navigation.link === currentRoute
            }"
          ></i>
          <span>{{ navigation.name }}</span>
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <span><strong>mdo</strong></span>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-dark text-small shadow"
        aria-labelledby="dropdownUser1"
      >
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
  <div class="page-content-container container-fluid">
    <!-- <div class="scrollable-container"> -->
      <router-outlet></router-outlet>
    <!-- </div> -->
  </div>
</div>
