:host {
  display: flex;
}
.side-bar-container {
  min-height: 100vh;
  width: 250px;
  background-color: red;

  .side-bar-link-container {
    display: flex;
    flex-direction: column;
  }
}

.page-content-container {
  display: flex;
  width: 100%;
}
