
  <ng-container *ngIf="isAuthenticated; else loginPage">
    <div class="side-bar-container">
      <div class="side-bar-link-container">
        <a href="#">Home</a>
        <a href="#">Employee</a>
        <a href="#">Profile</a>
      </div>
    </div>
    <div class="page-content-container">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

  <ng-template #loginPage>
    <!-- Login Page Layout -->
    <app-login></app-login>
  </ng-template>

  <!-- Page Content -->
  <!-- <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Page Content Here</h1>
      <p>This is the main content area.</p>
    </div>
  </div> -->
